.nav button {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 20px;
  gap: 28px;
  text-wrap: nowrap;
  margin-right: 28px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

.humburger {
  background-color: transparent;
  border: none;
}


@media screen and (max-width: 980px) {
  nav ul {
    gap: 12px;
    text-wrap: nowrap;
    margin-right: 12px;
  }
}
@media screen and (max-width: 600px) {
  nav{
    display: none;
  }
  .nav button {
    display: block;
  }
}
